*.user
*~
**/build/*
**/build-*
**/lib/*
Vocabulary/*.txt
*.kdev4
**/KeyFrameTrajectory.txt
**/KeyFrameNavStateTrajectory.txt
*.autosave
**/tmp/*
**/debug.txt

# CLion files
**/.idea/
**/cmake-build-*/

Examples/ROS/ORB_SLAM2/Mono
Examples/ROS/ORB_SLAM2/RGBD
Examples/ROS/ORB_SLAM2/Stereo
Examples/Monocular/mono_euroc
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/RGB-D/rgbd_tum
Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti

Examples/ROS/ORB_VIO/Mono
Examples/ROS/ORB_VIO/Stereo
Examples/ROS/ORB_VIO/RGBD
Examples/ROS/ORB_VIO/Test

tools/bin_vocabulary

# Output files from Localmapping.cc
gw.txt
scale.txt
biasa.txt
condnum.txt
computetime.txt
biasg.txt
Rwi.txt
